:root {
    --primary: #F2542D !important;
    --sidebar-background: #F2542D;
}

body {
    overflow-x: hidden;
}

nav a.active {
    background: var(--primary-focus);
    color: var(--primary-hover);
}
#header {
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Cardo', serif;
}

/** Sidebar */

.sidebar { /* it's a mobile sidebar, blocker and content */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* to cover the whole screen */
    height: 100vh;
    padding: 0;  /* to override the default padding */
    background: rgba(0,0,0, .5); /* half transparent background */
    display: none;
    z-index: 99999; /* to be on top of any other elements */
}
.sidebar.visible {
    display: block;
}
/*cover the whole screen and to detect user click on background */
.sidebar .blocker { 
    position: absolute;
    width: 100%;
    height: 100%;
}
/* user content */
.sidebar .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-x: scroll;
    top: 0;
    left: 0;
    background: var(--sidebar-background);
    height: 100%;
    width: 15em;
    left: -50%;   /* will be animated to left: 0, by animation */
    animation: slide 0.5s forwards;
    padding: var(--spacing);
    color: white;
}
.sidebar h1, .sidebar p {
    color: white;
}
@keyframes slide {
    100% { left: 0; }
}

#sidebar-close {
    width: 100%;
    text-align: right;
}

#sidebar-close svg {
    cursor: pointer;
}

#sidebar-toggle {
    cursor: pointer;
}

#sidebar-toggle svg {
    fill: var(--sidebar-background);
}

.sidebar a {
    color: white;
}

.sidebar a.active {
    background: rgba(255, 255, 255, 0.13);
    color: hsl(0, 0%, 100%);
}

.sidebar button, .sidebar [role="button"] {
    --background-color: white;
    --border-color: white;
    color: black;
    width: 100%;
}

.sidebar nav:last-of-type {
    margin-top: auto;
}

/** SVG */

.bi {
    height: 1em;
    width: auto;
}

/** Top Menu */
#header h1 {
    margin-bottom: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: 0;
}

#header a svg {
    fill: var(--sidebar-background);
    height: 1.5em;
}

/** Mission list **/

@media (min-width: 992px) {
    .grid.quests {
        grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: var(--block-spacing-horizontal);
        grid-row-gap: var(--block-spacing-vertical);
    }
}
.grid.quests {
    grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: var(--block-spacing-horizontal);
    grid-row-gap: var(--block-spacing-vertical);
}
.grid.quests article {
    margin: 0;
}
.grid.quests {
    margin-top: var(--block-spacing-vertical);
}

.grid.quests article {
    display: flex;
    flex-direction: column;
}

.grid.quests article footer {
    margin-top: auto;
}

.grid.quests footer button {
    margin: 0;
}
}