{{ define "base" }}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="{{ url "public/css/style.css" stylesheetversion }}">
    <title>{{ if .title }}{{ .title }} | {{ end }}{{ .siteTitle }}</title>
</head>

<body>
    <div id="header">
        <nav class="container">
            <ul>
                <li>
                    <a href="{{ url }}">
                        Pest Quest
                    </a>
                </li>
            </ul>
            <ul>
                {{ $section := "" }}{{ if .section }}{{ $section = .section }}{{ end }}
                <li>
                    <a href="{{ url "admin/quests" }}" class="{{ active .section "quests"}}">
                        Quests
                    </a>
                </li>
                <li>
                    <a href="{{ url "admin/advice" }}" class="{{ active .section "advice"}}">
                        Sage Advice
                    </a>
                </li>
                <li>
                    <a href="{{ url "admin/challenges" }}" class="{{ active .section "challenges"}}">
                        Challenges
                    </a>
                </li>
                <li>
                    <a href="{{ url "admin/blog" }}" class="{{ active .section "chunks"}}">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="{{ url "admin/markers" }}" class="{{ active .section "markers"}}">
                        Markers
                    </a>
                </li>
                <li>
                    <a href="{{ url "admin/trails" }}" class="{{ active .section "trails"}}">
                        Trails
                    </a>
                </li>
                <li>
                    <a href="{{ url "login" }}" class="{{ active .section "session"}}">
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{ template "body" .}}
<footer id="footer">
    <nav class="container">
        <ul>
            <li><a href="{{ url "privacy" }}">Privacy</a></li>
        </ul>
        <ul>
            <li id="copyright"><small>©{{ currentYear }} Sage Barsony</small></li>
        </ul>
    </nav>
</footer>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
</body>
</html>
{{ end }}